.artist-divider {
  width: 80%;
  border: 2px solid black;
}
.fan-detail {
  display: flex;
  flex-direction: column;
  margin: 90px;
  top: 50px;
  width: 1000px;
}

.fan-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.fan-name-container {
  font-size: 30px;
}

.followed-artists {
  font-size: 20px;
}

.followed-artists-container {
  border: solid black 4px;

  display: flex;
  flex-direction: column;
}

.followed-artist-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.followed-artist-link * {
  font-size: 30px;
}

.followed-artist-link .artist-index-item {
  display: flex;
  width: 100%;
  // align-items: center;
}
.followed-artist-link div a {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 15px;
  align-items: center;
}
