
.app {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: black;
  background: white;
  position: fixed;
  border-bottom: 1px solid grey;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px indigo;
  z-index: 10;
}

.left-nav {
  display: flex;
  align-items: center;
}

.splash-logo {
  // display: block;
  height: 30px;
  width: 30px;
  background-image: image-url("tuning-fork.jpg");
  background-size: 100%;
  margin-right: 5px;
}

.header-link {
  text-decoration: none;
  font-family: 'Bungee Shade';
  font-size: 40px;
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
  margin: 7px;
}

.tunehub {
  margin-left: 5px;
}

.slogan {
  // color: blue;
  font-size: 14px;
  font-weight: bold;
  // font-family: comic;
  margin-left: 20px;
  color: #582081;
  // align-self: flex-end;
}

.login-signup > a {
  padding: 10px;
  margin: 15px;
  color: white;
  font-size: 16px;
  border-radius: 15px;
  background: #582081;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  border: 0;
  text-shadow:1px 1px 0px light-blue;
  box-shadow:0px 3px 0px light-blue;
  position: relative;
  width: auto;
  transition: all .3s ease-in-out;

}

.login-signup > a:hover {
  cursor: pointer;
  background-color: #69656b;
  text-shadow:1px 1px 0px #bcb5b5;
  box-shadow:0px 3px 0px #bcb5b5;
}

.login-signup {
  display: flex;
  align-items: center;
  // margin: 10px;
}

.header-group {
  display: flex;
  justify-content: space-between;
}

.header-button {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.search-form {
  display: flex;
  align-items: center;
  // height: 60%
}

.search-container {
  height: 27px;;
}

.search-input {
  // height: 60%;
  height: 27px;
  width: 250px;
  font-size: 20px;

}


.fa-search {
  font-size: 18px;
  margin-left: 5px;
}
