.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: black;
  background: white;
  // margin: 10px;
  padding: 5px;
}


.left-nav {
  // display: flex;
  // align-items: center;
}

.splash-logo {
  // display: block;
  height: 30px;
  width: 30px;
  background-image: image-url("tuning-fork.jpg");
  background-size: 100%;
  margin: 5px;
}

.header-link {
  text-decoration: none;
  font-family: 'Bungee Shade';
  font-size: 35px;
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
  margin: 15px;
}

.tunehub {
  margin: 5px;
}

.slogan {
  color: blue;
  font-size: 14px;
  font-family: comic;
  margin-left: 20px;
}

.login-signup > a {
  text-decoration: none;
  font-weight: bold;
}

.login-signup {
  display: flex;
  margin: 10px;
}

.header-group {
  display: flex;
  justify-content: space-between;
}

.header-button {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}
