.artist-info-section {
  // position: relative;
  left: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.artist-thumbnail-name {
  font-weight: bold;
}

.bottom-centered-content {
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 100%;
}

.link-to-artist {
  color: grey;
  display: flex;
  text-decoration: none;
  margin-left: 10px;
}

.link-to-artist > * {
  margin-left: 10px;
  color: grey;
  text-decoration: none;
}

.link-to-artist:hover * {
  color: white;
}


.fa-pause {
  font-size: 20px;
  color: grey;
}

.fa-play {
  font-size: 20px;
  color: grey;
}

.fa-volume-up {
  font-size: 20px;
  margin: 10px;
  color: grey;
}

.fa-play:hover, .fa-pause:hover {
  color: white;
}

.input-slider {
  top: 2px;
  margin: 0px;
}

.play-button {
  height: 100%;
  width: 70px;
  background: black;
  border-width: 0px;
}

.play-button:focus {
  outline: none;
}

.small-artist-image {
  width: auto;
  height: 100%;
  border: none;

}

.small-logo {
  font-family: 'Bungee Shade';
  color: white;
  margin-left: auto;
  margin-right: 10px;
  font-size: 25px;
}

.taskbar {
  z-index: 5;
  background: black;
  position: fixed;
  display: flex;
  // height: 100%;
  // justify-content: center;
  align-items: center;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px;
}

.track-controls {
  display: flex;
  align-items: center;
  width: 400px;
  height: 100%;
  float: left;
}

.track-slider {
  display: flex;
  align-items: center;
}
